.home {
  .home-description {
    color: $home-desc--color;
    font-family: $home-desc--font-family;
    font-size: $home-desc-mobile--font-size;
    letter-spacing: $home-desc--letter-spacing;
  }

  .home-title {
    font-family: $home-title--font-family;
    font-size: $home-title-mobile--font-size;
  }

  .explore {
    font-family: $home-explore--font-family;
    font-size: $home-explore--font-size;
    letter-spacing: $home-explore--letter-spacing;
    height: $home-explore--size;
    width: $home-explore--size;
  }
}

@media screen and (min-width: 768px) {
  .home {
    .home-texts {
      max-width: $home-texts-tablet--width;
    }

    .home-description {
      font-size: $home-desc-tablet--font-size;
    }

    .home-title {
      font-size: $home-title-tablet--font-size;
    }

    .explore {
      font-size: $home-explore-tablet--font-size;
      height: $home-explore-tablet--size;
      width: $home-explore-tablet--size;
    }
  }
}

@media screen and (min-width: 992px) {
  .home {
    .home-texts {
      max-width: $home-texts-desktop--width;
    }

    .home-description {
      font-size: $home-desc-desktop--font-size;
    }

    .explore {
      height: $home-explore-desktop--size;
      transition: $home-explore--transition;
      width: $home-explore-desktop--size;
      
      &:hover {
        box-shadow: $home-explore-hover--box-shadow;
      }
    }
  }
}