// Colors
$dark-blue: #0b0d17;
$grey: #979797;
$lighter-blue: #d2d8f9;


// Typography
$default-font: 'Bellefair', sans-serif;
$secundary-font: 'Barlow Condensed', sans-serif;
$text-font: 'Barlow', sans-serif;





// Header.jsx

$header-link--height: 96px;
$header-link-tablet--margin: 0 19px;


$header-nav--font: $secundary-font;
$header-nav--font-size: 1rem;
$header-nav--letter-spacing: 2.7px;


$logo-size: 48px;
$logo-mobile--size: 40px;


$nav-container-tablet--bg-color: $dark-blue;
$nav-container-tablet--padding: 29px;