@import url('https://fonts.googleapis.com/css2?family=Barlow&family=Barlow+Condensed&family=Bellefair&display=swap');
@import './abstract/variables';
@import './components/Header';
@import './components/Home';

h1 {
  font-weight: $h1--font-weight;
}

.background {
  width: $background--width;
  min-height: $background--min-height;
  z-index: $background--z-index;
}

.link {
  &:hover {
    border-bottom: $link-hover--border;
  }
}

.link.active {
  border-bottom: $link-active--border;
}

.text {
  color: $text--color;
  font-family: $text--font-family;
}

@media screen and (min-width: 960px) {
  .text {
    font-size: $text-desktop--font-size;
  }
}