@import url('https://fonts.googleapis.com/css2?family=Barlow+Condensed&display=swap');
@import './abstract/variables';
@import './components/Header';

.background {
  width: 100vw;
  height: 100vh;
  z-index: -10;
}

.link {
  &:hover {
    border-bottom: $link-hover--border;
  }
}

.link.active {
  border-bottom: $link-active--border;
}