// Colors
$dark-blue: #0b0d17;
$dark-grey: #151923;
$light-grey: #979797;
$light-blue: #d0d6f9;
$white: #fff;
$transparent-white: #fff1;


// Typography
$primary-font: 'Bellefair', sans-serif;
$secundary-font: 'Barlow Condensed', sans-serif;
$text-font: 'Barlow', sans-serif;





// Default styles
$background--width: 100vw;
$background--min-height: 100vh;
$background--z-index: -10;


$blur-bg--blur: blur(10px);
$blur-bg--color: $transparent-white;


$navbar-items--font: $secundary-font;
$navbar-items--font-size: 1rem;
$navbar-items--letter-spacing: 2.7px;


$navbar-items-active--border: solid 3px $white;
$navbar-items-hover--border: solid 3px $light-grey;


$navbar-em--margin: 0.75rem;


$h1--font-weight: 400;


$text--color: $light-blue;
$text--font-family: $text-font;
$text--font-size: 0.9375rem;
$text-tablet--font-size: 1rem;
$text-desktop--font-size: 1.125rem;





// Header.jsx
$header-desktop--margin: 15.5rem;
$header--position: relative;


$header-container--padding: 2.5rem;


$header-li-desktop--margin-left: calc(5vw + 24px);
$header-li-desktop--margin-right: calc(10vw - 2px);


$header-line--bg-color: $light-grey;
$header-line--height: 1px;
$header-line--left: 166px;
$header-line--width: 33vw;
$header-line--position: absolute;
$header-line--z-index: 10;


$header-link--height: 96px;
$header-link-tablet--margin: 0 19px;




$logo--size: 48px;
$logo--margin: 1.5rem;
$logo-mobile--size: 40px;
$logo-tablet--margin: 2.45rem;


$nav-container-desktop--bg-color: $transparent-white;
$nav-container-tablet--bg-color: $dark-grey;
$nav-container-tablet--padding: 29px;


//Modal
$modal-content--border: 0;
$modal-content--height: 100%;


$modal-dialog--height: 100%;
$modal-dialog--margin-left: 32.26%;
$modal-dialog--position: relative;


$modal-header--padding: 34px 27px 60px 0px;


$modal-nav-items--margin: 32px;





// Home.jsx
$home-texts-tablet--width: 51.5ch;
$home-texts-desktop--width: 57.7ch;


$home-desc--color: $light-blue;
$home-desc--font-family: $secundary-font;
$home-desc-mobile--font-size: 1rem;
$home-desc-tablet--font-size: 1.25rem;
$home-desc-desktop--font-size: 1.75rem;
$home-desc--letter-spacing: 2.7px;


$home-explore--transition: all 1s;
$home-explore--font-family: $primary-font;
$home-explore--font-size: 1.25rem;
$home-explore--letter-spacing: 1.25px;
$home-explore--size: 150px;
$home-explore-desktop--size: 274px;
$home-explore-hover--box-shadow: 0 0 0 88px $transparent-white;
$home-explore-tablet--font-size: 2rem;
$home-explore-tablet--letter-spacing: 2px;
$home-explore-tablet--size: 242px;


$home-title--font-family: $primary-font;
$home-title-mobile--font-size: 5rem;
$home-title-tablet--font-size: 9.375rem;  